extends challenge/base.jade

block content
  form(action='.', method='post').form-horizontal {% csrf_token %}
    legend Submit a Claim
      span &nbsp;to {{challenge.title}}
    .errors {{form.non_field_errors}}
    .control-group
      label(for="id_claim").control-label Claim:
      .controls {{form.content}} 
        span.help-inline {{form.claim.errors}}

    .control-group
      label(for="id_proof_url").control-label Proof Url:
      .controls
        input(maxlength="200", name="proof_url", type="text", value="{{form.proof_url.value}}")#id_proof_url 
        span.help-inline {{form.proof_url.errors}}
    
    .control-group
      label(for="id_project_url").control-label Project Url:
      .controls
        input(maxlength="200", name="project_url", type="text", value="{{form.project_url.value}}")#id_project_url 
        span.help-inline {{form.project_url.errors}}

    .control-group
      .controls
        input(type='submit', value='Submit')#submit.btn.regular
