extends challenge/base.jade
{% load staticfiles %}

block content

  .modal.hide.fade#modalThanks
    .modal-header
      button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
      h3 Thank You!
    .modal-body
      p Thank you for posting!
    .modal-footer
      button(data-dismiss="modal", aria-hidden="true").btn Close
  
  script(src='{% static "challenge/js/claim.js" %}')
  script(src='{% static "challenge/js/query.js" %}')
  .row-fluid
    .span12
      .row-fluid
        .span6
          h2 
            a(href="{% url 'challenge_details' claim.challenge.id %}") Claim for {{claim.challenge.title}}

        .span6.info
          a(href="{% url 'user' claim.author.id %}")
            span 
              strong submitted by:
              {{claim.author}}
          br
          span 
            strong status:
            {{claim.status}}
      div.well#claim_content= claim.content 
        h5
          a(href="{{claim.proof_url}}")#proof View Proof
          if claim.project_url
            &nbsp;|
            a(href="{{claim.project_url}}") View Project's Site

      if user.id == claim.author.id
        a(href="{% url 'claim_edit' claim.id %}").btn Edit
