extends challenge/base.jade

block content
  .row-fluid
    .span12
      h2 
        a(href="{% url 'challenge_details' claim.challenge.id %}") Claim for {{claim.challenge.title}}

      h5
        a(href="{{claim.proof_url}}") View Proof
        if claim.project_url
          &nbsp;|
          a(href="{{claim.project_url}}") View Project's Site
      a(href="{% url 'user' claim.author.id %}")
        span 
          strong submitted by:
          {{claim.author}}
      br
      span 
        strong status:
        {{claim.status}}
      br
      div.well= claim.content 

      if user.id == claim.author.id
        a(href="{% url 'claim_edit' claim.id %}").btn Edit
