extends challenge/base.jade
{% load staticfiles %}

block content

  script(src='{% static "challenge/js/claim.js" %}')
  .row-fluid
    .span6
      h1= challenge.title
      a(href="{% url 'user' challenge.author.id %}")
        span 
          strong Submitted by:
          {{challenge.author}}
      br
      a(href="/?cat={{challenge.category.id}}")
        span 
          strong Category:
          {{challenge.category}} 
      br
      span
        strong Status:
        {{challenge.status}}
      br
      br
      .well= challenge.content

      if user.id == challenge.author.id
        a(href="{% url 'challenge_edit' challenge.id %}").btn Edit

    .span6
      h1 Claims
      if claims_accepted
        h2 confirmed
        for claim in claims_accepted
          .row-fluid
            .span12
              .row-fluid
                .span12.info
                  a(href="{% url 'user' claim.author.id %}")
                    span 
                      strong submitted by:
                      {{claim.author}}
                  br
                  span 
                    strong status:
                    {{claim.status}}
              div.well.claim_content= claim.content 
                h5
                  a(href="{{claim.proof_url}}").proof View Proof
                  if claim.project_url
                    &nbsp;|
                    a(href="{{claim.project_url}}") View Project's Site

              if user.id == claim.author.id
                a(href="{% url 'claim_edit' claim.id %}").btn Edit
      if claims_pending
        h2 unconfirmed
        for claim in claims_pending
          .row-fluid
            .span12
              .row-fluid
                .span12.info
                  a(href="{% url 'user' claim.author.id %}")
                    span 
                      strong submitted by:
                      {{claim.author}}
                  br
                  span 
                    strong status:
                    {{claim.status}}
              div.well.claim_content= claim.content 
                h5
                  a(href="{{claim.proof_url}}").proof View Proof
                  if claim.project_url
                    &nbsp;|
                    a(href="{{claim.project_url}}") View Project's Site

              if user.id == claim.author.id
                a(href="{% url 'claim_edit' claim.id %}").btn Edit

      if has_claim
        //nothing 
      else
        a(href="{% url 'claim_submit' challenge.id %}").btn A Submit A Claim
