extends challenge/base.jade
{% load staticfiles %}

block titlename
  | Glass Challenge

block content
  .row-fluid
    #uncomplete.span6
      section
        .row-fluid
          .span12.text-center.sortby
            | sort by:
            span
              [
              a(href="?sort-uncomplete=votecount&dir=d") Vote 
              ]
            span
              [
              a(href="?sort-uncomplete=date_created&dir=d") Newest 
              ]
            span
              [
              a(href="?sort-uncomplete=date_created") Oldest 
              ]
      ul#un_challenge_list
        for challenge in uncomplete
          .row-fluid.row_challenge
            if challenge.votecount
              .span1(id="challenge_{{challenge.id}}").count= challenge.votecount
            else
              .span1(id="challenge_{{challenge.id}}").count 0
            .span1
              if user.is_authenticated
                if challenge.vote == "up"
                  div(data-id="{{challenge.id}}", data-dir="up").row.vote.up.voted
                else
                  div(data-id="{{challenge.id}}", data-dir="up").row.vote.up

                if challenge.vote == "down"
                  div(data-id="{{challenge.id}}", data-dir="down").row.vote.down.voted
                else
                  div(data-id="{{challenge.id}}", data-dir="down").row.vote.down
              else
                div(data-id="{{challenge.id}}", data-dir="up").row.up.login
                div(data-id="{{challenge.id}}", data-dir="down").row.down.login

            .span10.row_main
              .row-fluid
                .title
                  a(href="{% url 'challenge_details'  challenge.id %}").challenge_title= challenge.title
                .right_info
                  .row.category
                    a(href="?cat={{challenge.category.id}}").complete {{challenge.category.name}}
                  .row.done_date.complete
                    {{challenge.date_created | date:"SHORT_DATE_FORMAT" }}
                .challenge_content= challenge.content

    #complete.span6 
      section
        .row-fluid
          .span12.text-center.sortby
            | sort by:
            span
              [
              a(href="?sort-complete=votecount&dir=d") Vote 
              ]
            span
              [
              a(href="?sort-complete=date_created&dir=d") Newest 
              ]
            span
              [
              a(href="?sort-complete=date_created") Oldest 
              ]

      ul#challenge_list
        for challenge in complete
          .row-fluid.row_challenge
            if challenge.votecount
              .span1(id="challenge_{{challenge.id}}").count= challenge.votecount
            else
              .span1(id="challenge_{{challenge.id}}").count 0
            .span1
              if user.is_authenticated
                if challenge.vote == "up"
                  div(data-id="{{challenge.id}}", data-dir="up").row.up.vote.voted
                else
                  div(data-id="{{challenge.id}}", data-dir="up").row.up.vote 

                if challenge.vote == "down"
                  div(data-id="{{challenge.id}}", data-dir="down").row.down.vote.voted
                else
                  div(data-id="{{challenge.id}}", data-dir="down").row.down.vote
              else
                div(data-id="{{challenge.id}}", data-dir="up").row.up.login
                div(data-id="{{challenge.id}}", data-dir="down").row.down.login

            .span10.row_main
              .row-fluid
                span.thumbnail_holder
                  .yt_link.hide= challenge.get_thumbnail
                .title
                  a(href="{% url 'challenge_details'  challenge.id %}").challenge_title= challenge.title
                .right_info
                  .row.category
                    a(href="?cat={{challenge.category.id}}").complete {{challenge.category.name}}
                  .row.done_date.complete
                    {{challenge.date_created | date:"SHORT_DATE_FORMAT" }}
                .challenge_content= challenge.content
  section.hide
    h2 Catigories
    ul#cat_list
      for cat in categories
        li 
          a(href="?catigory={{cat}}") {{cat}}

  .modal.hide.fade#modalLogin
    .modal-header
      button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
      h3 Login
    .modal-body
      p you need to login to vote
    .modal-footer
      a(data-dismiss="model", aria-hidden="true").btn Close
      a(href="{% url 'openid-login' %}").btn.btn-primary Login
