body{
  color: black !important;
}
a{
  color: black !important;
}
#slogon{
  padding-top: 80px;
  padding-bottom: 20px;
  font: 112px/28px 'geometry_soft_probold_n', Arial, sans-serif;
  font-size: 100px;
}
#slogon a:hover
{
  text-decoration: none;
}

.sub_slogon{
  min-height: 0px !important;
}
#un_challenge_list{
  left: -18px;
  position: relative;
  width: 99%;
}
.right{
  float: right !important;
}
.controls input{
  width: 300px
}

.controls textarea{
  width: 300px
}

.voted{
  color: red
}
.row_challenge{
  padding:5px;
}
.row_main{
  border-style: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  border-left-style: none;
  margin-left: 0px !important;
}
.title{
  padding-right: 14px;
}
.title a{
  font-size: 17px;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.right_info{
  text-align: center;
  float:right;
}
.category{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #7F7F7F;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #7F7F7F;
  background-color: #B2B2B2;
}
.category a{
  color: white !important;
}
.challenge_title{
  float: left;
}
.challenge_title_thumb{
  width: 154px;
}
.challenge_content{
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
  top: 9px;
  position: relative;
  color: #7F7F7F;
  padding-right: 24px;

}
.challenge_content_thumb{
  padding-left: 9px;
  width: 57%;
  height: 36px;
  white-space: normal;
  top: 4px;
}
.thumbnail_holder{
  float: left;
}
.count{
  line-height: 46px;
  width: 3px !important;
}
.down{
  background-image: url("images/down.jpg");  
  background-repeat: no-repeat;
  background-size: 100%;
  width: 23px;
  margin-left: 5px !important;
  height: 20px;
}
.down.voted{
  background-image: url("images/down-vote.jpg");  
}
.up{
  background-image: url("images/up.jpg");  
  background-repeat: no-repeat;
  background-size: 100%;

  width: 26px;
  margin-left: 2px !important;
  height: 23px;
}
.up.voted{
  background-image: url("images/up-vote.jpg");  
}
.complete{
  color: white;
}
.uncomplete{
  color: white;
}
.done_date{
  background-color: #DA093F;
}
.sortby{
  color: #7F7F7F;
  padding-top: 5px;
}
.start_date{
  background-color: #04DB78;
}
.start_date, .done_date{
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #7F7F7F
}
.navbar{
  top: -8px !important;
}
.navbar a{
  color:white !important;
}
.navbar-inner{
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(black)) !important;
  background-image: -webkit-linear-gradient(top,#222,black) !important;
  background-image: -o-linear-gradient(top,#222,black) !important;
  background-image: linear-gradient(to bottom,#222,black) !important;
  border-color: black !important;
  min-height: 0px !important;
  height: 30px !important;
}
.info{
  padding: 9px;
}
#complete{
  margin-left: 0 !important;
}
#uncomplete{
  border-right-style: solid;
  border-right-width: 35.3px;
  border-right-color: black;
  width: 49.57777% !important;
}
#uncomplete_head{
  text-align: left;
  color: white;
  padding: 3px;
  background-color: #04DB78;
  font-style: italic;
}
#complete_head{
  text-align: right;
  color: white;
  padding: 3px;
  background-color: #DA093D;
  font-style: italic;
}
#submit{
  width: 90px
}
#slice{
  position: relative;
  left: 44.1%;
  height: 25.5px;
  top: 26px;
}
@font-face {
    font-family: 'geometry_soft_probold_n';
    src: url('geometrysoftpro_boldn_macroman/Geometry_Soft_Pro-Bold_N-webfont.eot');
    src: url('geometrysoftpro_boldn_macroman/Geometry_Soft_Pro-Bold_N-webfont.eot?#iefix') format('embedded-opentype'),
         url('geometrysoftpro_boldn_macroman/Geometry_Soft_Pro-Bold_N-webfont.woff') format('woff'),
         url('geometrysoftpro_boldn_macroman/Geometry_Soft_Pro-Bold_N-webfont.ttf') format('truetype'),
         url('geometrysoftpro_boldn_macroman/Geometry_Soft_Pro-Bold_N-webfont.svg#geometry_soft_probold_n') format('svg');
    font-weight: normal;
    font-style: normal;

}


